* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.asistantButton {
    width: 70px;
    height: 70px;
    background-color: #000;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}

.asistantPreview {
    width: 200px;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 0 5px #999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 20px;
    position: fixed;
    bottom: 100px;
    right: 100px;
}
.asistantNumber{
    width: 200px;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 0 5px #999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 20px;
    position: fixed;
    bottom: 310px;
    right: 100px;
}

.asistantPreview i {
    margin-right: 10px;
}

.previewItem {
    width: 100%;
    padding: 10px;
}

.previewItem:hover {
    background-color: #eee;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s;
}
.lineBtn{
    width: 100%;
    display: flex;
}
.call, .sendExploes{
    width: 45%;
    height: 20px;
    background-color: #999;
    margin: 5px;
    font-size: 50%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
}
.call:hover, .sendExploes:hover{
    transform: scale(1.02);
}
.asistantMessage{
    width: 350px;
    height: 170px;
    background-color: #fff;
    box-shadow: 0 0 5px #999;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 15px;
    border: white 5px solid;
    
    position: fixed;
    bottom: 130px;
    right: 315px;
    overflow-y: scroll;
    
}
.alertError{
    width: 350px;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 0 5px #999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border-radius: 15px;
    border: white 5px solid;
    
    
    position: fixed;
    bottom: 310px;
    right: 315px;
}

.asistantMessage::-webkit-scrollbar-track{
    background-color: rgb(185, 185, 185);
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #616161; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


.messageItem{
    margin: 5px;
    margin-left: 5px;
    background-color: #A6A6A6;
    border-radius: 5px;
}
.subscriberMessageItem{
    margin-right: 1px;
    margin: 5px;
    margin-right: 5px;
    background-color: #A6A6A6;
    border-radius: 5px;
}
span.miniText{
    font-size: 60%;
    margin-right: 10px;
}

#message{
    width: 340px;
    height: 30px;
    position: fixed;
    bottom: 100px;
    border-radius: 10px;
}
#send{
    width: 30px;
    height: 30px;
    position: fixed;
    border-radius: 10px;
    right: 321px;
    bottom: 100px;
    background-color: rgb(0, 132, 255);
    border: black 2px solid;
    color: white;
    cursor: pointer;
}